#
# Configuration for Bang User webapp

#
# Use this to avoid conflicts with the production servers if you have your
# development machine configured as HOSTNAME.threerings.net

# oooauth.auth_cookie.name = HOSTNAMEid_

#
# Database configuration

db.default.driver = com.mysql.jdbc.Driver
db.default.username = ooouser
db.default.password = PASSWORD
db.default.url = jdbc:mysql://DATABASE_HOST:3306/DATABASE_NAME
